{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        org.clojure/data.json {:mvn/version "2.5.2"}
        http-kit/http-kit {:mvn/version "2.8.1"}
        hiccup/hiccup {:mvn/version "2.0.0"}
        org.clojure/tools.logging {:mvn/version "1.3.1"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.38"}}
 :aliases {:run {:main-opts ["-m" "trmnl-server.main"]}
           :serve {:main-opts ["-m" "trmnl-server.main" "--serve"]}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.14"
                                                         :git/sha "1176afd"}}
                   :ns-default build}
           :fmt {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.16.4"}}
                 :main-opts ["-m" "cljfmt.main" "fix"]}
           ;; Asserts the temp/wind chart never draws a label onto a dot or
           ;; another label -- the one part of "does the screen look right" that
           ;; can be checked without eyes. Takes an optional count of generated
           ;; days: clojure -M:check-labels 500
           :check-labels {:extra-paths ["dev"]
                          :main-opts ["-m" "trmnl-server.dev.label-collisions"]}}}
